<section id="services-section" class="services section">
  <div class="container">
    <div class="services-grid">
      <!-- Tax Preparation -->
      <mat-card class="service-card" appearance="outlined">
        <img mat-card-image src="/assets/images/tax-preparation.avif" alt="Tax Preparation" />
        <mat-card-content>
          <h3 class="service-title">TAX PREPARATION</h3>
        </mat-card-content>
      </mat-card>

      <!-- Immigration Services -->
      <mat-card class="service-card" appearance="outlined">
        <img
          mat-card-image
          src="/assets/images/immigration-services.avif"
          alt="Immigration Services"
        />
        <mat-card-content>
          <h3 class="service-title">IMMIGRATION SERVICES</h3>
        </mat-card-content>
      </mat-card>

      <!-- Translations -->
      <mat-card class="service-card" appearance="outlined">
        <img mat-card-image src="/assets/images/transaltion-services.avif" alt="Translations" />
        <mat-card-content>
          <h3 class="service-title">TRANSLATIONS</h3>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="services-description">
      <p>
        We want you to succeed. Contact us today to see how you can benefit from our variety of
        services.
      </p>
    </div>

    <div class="services-action">
      <a routerLink="/services" mat-raised-button color="primary" class="services-button"
        >More Services</a
      >
    </div>
  </div>
</section>
